* {
    margin: 0;
    padding: 0;
}

/* 스위치 전체 그룹 */
.switchWrap {
    position: absolute;
    left: 77%;
}

/* 스위치 전체 설정 */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* HTML 기본 체크박스 투명화 */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* 슬라이더 설정 */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    transition: .4s;
}

input:checked+.slider {
    background-color: black;
}

input:checked+.slider:before {
    background-color: #fff;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* 슬라이더 테두리 둥글게 */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}