@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


body {
    width: 320px;
    height: 600px;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
    font-weight: 300;
    color: #DCDCDC;
}

* {
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: PyeongChangPeace-Light;
}

header {
    margin-top: 11px;
    width: 256px;
    height: 48px;
    margin-right: auto;
    margin-left: auto;
}

.offText {
    display: none;
    font-size: 20px;
    margin-top: 70%;
    text-align: center;
}

.hdCtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 42px;
    height: 44px;
    background-image: url("../static/newsface.png");
    background-size: cover;
}

.textLogo {
    font-family: PyeongChangPeace-Bold;
    font-weight: 700;
    color: #DCDCDC;
    font-size: 24px;
}

.switch {
    width: 36px;
    height: 16px;
    background-image: url("../static/toggle.png");
    background-size: cover;
}

.tabs {
    margin-top: 7px;
    overflow: hidden;
    width: 256px;
    display: flex;
    justify-content: center;
}

.tabCtn {
    background-color: #acacac;
    border-radius: 10px;
}

.tabs button {
    width: 114px;
    background-color: #acacac;
    height: 36px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    border-radius: 10px;
}

.tabs button:hover {
    color: #747474;
}

.tabs button.active {
    background-color: #DCDCDC;
}

.tabcontent {
    margin-top: 22px;
    display: none;
}

.ctChart {
    display: flex;
}

.rankingsContainer {
    width: 216px;
    height: 210px;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 3%;
    padding-left: 11%;
}


ol>li:hover {
    background-color: #575757;
}

ol>li {
    margin-bottom: 5%;
    cursor: pointer;
}